
.history_main_div{
     height: calc(100% - 50px);
    /*background-color:#0a0a0a;*/
    /*background:rgba(0,0,0,0.2);*/
    overflow-y: auto;
     opacity: 0.83;
     /*padding: 10px;*/
    /*padding-top: 6px;*/
    /*padding-left: 15px;*/
}


.text{
    margin: 10px;
    max-width: 900px;
    margin: 0 auto;

}
.top{
    margin-top: 20px;
    height: 30px;
    background:rgba(0,0,0,0.3);
    opacity: 0.75;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.title{
    width: 90vw;
    /*background-color: #8a6d3b;*/
    /*border-top: 1px solid rgba(0,0,0,0.3);*/
    /*border-bottom: 1px solid rgba(0,0,0,0.3);*/
}
.glyphicon{
    padding-top: 2px;
    transform: scale(0.8,0.8);
}
.detail{
    /*position: fixed;*/
    display: flex;
    /*display: none;*/
    background:rgba(0,0,0,0.2);
     /*background-color: grey;*/
    height: auto;
    max-width: 1300px;
    justify-content:center;
	align-items:center;
}


.one_div{
    max-width: 1300px;
    margin: 0 auto;
}

.history_text{
    float: left;
    /*height: 200px;*/
    width: 100%;
    /*background-color: #8a6d3b;*/
}
img{

    /*max-width: 400px;*/
    /*max-height: 150px;*/
    /*max-width: 100px;*/

}



.history_text{}
.detail_title{
    /*width: 95%;*/
    margin: 0 auto;
    display:block;
    word-break: break-all;
    word-wrap: break-word;
    /*background-color: blanchedalmond;*/
}
.where{
    /*background-color: grey;*/
    /*width: 95%;*/
    margin: 0 auto;
    display:block;
    word-break: break-all;
    word-wrap: break-word;
}
.text_detail{
    /*background-color: blueviolet;*/
    /*width: 95%;*/
    margin: 0 auto;
    margin-top: 10px;
    display:block;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
}
.people{
    /*background-color: paleturquoise;*/
    /*width: 95%;*/
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display:block;
    word-break: break-all;
    word-wrap: break-word;

}
.vis-img{
    margin: 0 auto;
}
.xs_vis div{
    width: 95%;
}

.xs_hid{
    width: 62.5%;
    margin-left: 2.5%;
    float: left;


}

.xs-vis-img{
    width: 95%;
    display: inline-block;
    vertical-align:middle;
    margin-left:2.5% ;

}
.xs-hid-img{
    width: 30%;
    float: right;
    display: block;
    margin-left: 2.5%;
margin-right: 2.5%;
}
