
.introduction{
     height: calc(100% - 50px);
    /*background-color:#0a0a0a;*/
    /*background:rgba(0,0,0,0.2);*/
    overflow-y: auto;
     opacity: 0.83;
     /*padding: 10px;*/
    /*padding-top: 6px;*/
    /*padding-left: 15px;*/
}
.carousel_div{

    max-width: 900px;
    margin: 0 auto;
    margin-top:10px;
}
img{
    max-width: 900px;
    max-height:350px ;
    margin: 0 auto;
}
.text{
    margin: 10px;
    max-width: 900px;
    margin: 0 auto;

}
.top{
    margin-top: 20px;
    height: 30px;
    background:rgba(0,0,0,0.3);
    opacity: 0.75;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.title{
    width: 90vw;
    /*background-color: #8a6d3b;*/
    /*border-top: 1px solid rgba(0,0,0,0.3);*/
    /*border-bottom: 1px solid rgba(0,0,0,0.3);*/
}
.glyphicon{
    padding-top: 2px;
    transform: scale(0.8,0.8);
}
.detail{

}
.int_detail{
    display: none;
    background:rgba(0,0,0,0.2);
    padding: 15px;
}
.img_detail{
    display: none;
}