/* member */

.member_main_div{
    height: calc(100% - 50px);
    /*background-color:#0a0a0a;*/
    /*background:rgba(0,0,0,0.2);*/
    overflow-y: auto;
     padding: 10px;
    padding-top: 6px;
    padding-left: 15px;
    position: relative;
    /*max-width: 900px;*/
    margin: 0 auto;
    opacity: 0.83;
 }
/*.teacher{*/
   /**/
    /**/

    /*height: 110px;*/
    /*background-color: #0a0a0a;*/
     /*background:rgba(0,0,0,0.3);*/

/*}*/
.member_top{
    margin-top: 20px;
    height: 30px;
    /*background-color: #1E9FFF;*/
    opacity: 0.75;
    padding:5px;
    padding-left: 10px;
    background:rgba(0,0,0,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.member_title{
    width: 90vw;
    /*background-color: #8a6d3b;*/
    /*border-top: 1px solid rgba(0,0,0,0.3);*/
    /*border-bottom: 1px solid rgba(0,0,0,0.3);*/
}
.glyphicon{
    padding-top: 2px;
    transform: scale(0.8,0.8);
}


.member_detail{
    height: 100px;
    /*background-color: grey;*/
    background:rgba(0,0,0,0.2);
     text-align:center;
    margin-bottom:4px ;
    overflow-y: auto;

}

.member_img{
    height: 70px;
    width: 60px;
    /*background-color: grey;*/
    border-radius: 12px;
    align:middle;
    /*position:relative;*/

}
.member_img_div{
    position:relative;

    margin: 5px;
    margin-left: 8px;
    height:90px;
    font-size: 12px;
    /*background-color: blanchedalmond;*/
    float: left;
     z-index: 1;
}
.img_div{

    /*background-color: #8a6d3b;*/
    height: 90px;
    /*width: 40vw;*/
    display: inline-block;
    margin: 0 auto;


}


.member_text_div{
    float: left;
    /*width: 40vw;*/
    /*margin-left: 65px;*/
    /*position: fixed;*/
    /*display: none;*/
    /*width: calc(100% - 115px);*/
    padding-top: 5px;

    color: #ffffff;
    margin-left: 5px;
    /*background-color: #8a6d3b;*/
    /*position: relative;*/
    /*width: calc(100% - 35px);*/

}
.member_detail_text{

position: absolute ;
    float: left;
    z-index: 0;
     width: calc(100% - 35px);
    text-align: left;
    /*height:85px ;*/
    display: none;

    /*background-color: #8a6d3b;*/
    /*overflow-y: auto;*/
    /*transform:translate(75px,0px);*/


}