<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>湖州师范学院-网络科技安全实验室</title>
    <link rel="stylesheet" href="static/plugin/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">

    <script src="static/plugin/jquery-3.3.1.min.js"></script>
    <script src="static/plugin/bootstrap.min.js"></script>
    <script src="static/js/index.js"></script>
    <script src="static/js/common.js"></script>
    <script  src="static/plugin/jquery.zclip.js"></script>
    <script  src="static/plugin/delaunator.min.js"></script>

    <!--背景-->



</head>

<body>
<canvas id="canvas"></canvas>
<script  src="static/canvas-plugin/js/101.js"></script>

<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">HUCTF-Lab</a>
	</div>
	<div class="collapse navbar-collapse " id="example-navbar-collapse">
		<ul class="nav navbar-nav">
            <li class="active"><a href="/">首页</a></li>
			<li ><a href="/goto_introduction">简介</a></li>
			<li><a href="/goto_history">事件</a></li>
			<li ><a href="/goto_member">成员</a></li>
            <!-- <li><a href="/goto_honor">荣誉</a></li>-->
            <li><a href="/goto_science">科研中心</a></li>
            <li><a href="/goto_newstudent">招新</a></li>
            <li><a href="/goto_blog">博客</a></li>
            <li><a href="/goto_cooperation">合作</a></li>
		</ul>
	</div>
	</div>
</nav>

<!--中间的文字-->
<div class="center_text_div" >
    <div id="welcome"style="display: none">
        <div class="big_text hidden-xs">
            <div >
                <b >欢迎您来到</b><br>
                <b style="font-size: 15px;">Welcome to</b><br>
            </div>
        </div>
        <div class="small_text visible-xs">
             <div >
                <b >欢迎您来到</b><br>
                <b style="font-size: 2vw;">Welcome to</b><br>
            </div>

        </div>
    </div>
    <div id="center_text" style="display: none">
        <div class="big_text hidden-xs">
            <div >
                <b >湖州师范学院</b><br>
                <b style="font-size: 15px;">Huzhou Normal University</b><br>
            </div>
            <div style="margin-top: 15px">
                <b >网络空间安全实验室</b><br>
                <b style="font-size:15px;">Cyberspace Security Laboratory </b>
            </div>
        </div>
        <div class="small_text visible-xs">
             <div >
                <b >湖州师范学院</b><br>
                <b style="font-size: 2vw;">Huzhou Normal University</b><br>
            </div>
            <div style="margin-top: 15px">
                <b >网络空间安全实验室</b><br>
                <b style="font-size: 2vw;">Cyberspace Security Laboratory </b>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div class="buttom_div" id="bottom_div" style="display: none">
    <div class="visible-xs ">
        <a href="https://www.dc123.com.cn/#banner" type="button" class="btn btn-default visible_btn">HUCTF<br>竞赛训练平台</a>
        <a href="http://xxgcxy.zjhu.edu.cn/" type="button" class="btn btn-default visible_btn">湖州师范学院<br>信息工程学院</a>
        <a href="https://www.dc123.com.cn/#banner" type="button" class="btn btn-default visible_btn">浙江海瑞<br>网络科技有限公司</a>
        <!--<div class="option1">湖州师范学院</div>-->
    </div>
    <div class="hidden-xs ">
        <a href="https://www.dc123.com.cn/#banner" type="button" class="btn btn-default hidden_btn">HUCTF<br>竞赛训练平台</a>
        <a href="http://xxgcxy.zjhu.edu.cn/" type="button" class="btn btn-default hidden_btn">湖州师范学院<br>信息工程学院</a>
        <a href="https://www.dc123.com.cn/#banner" type="button" class="btn btn-default hidden_btn">浙江海瑞<br>网络科技有限公司</a>
        <!--<div class="option1">湖州师范学院</div>-->
    </div>
</div>
<!--<div class="part1"></div>-->
</body>
</html>