<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>湖州师范学院-网络科技安全实验室</title>
    <link rel="stylesheet" href="static/plugin/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/member.css">

    <script src="static/plugin/jquery-3.3.1.min.js"></script>
    <script src="static/plugin/bootstrap.min.js"></script>
    <script src="static/js/member.js"></script>
    <script src="static/js/common.js"></script>
    <script  src="static/plugin/jquery.zclip.js"></script>
    <script  src="static/plugin/delaunator.min.js"></script>

    <!--背景-->



</head>
<body>
<canvas id="canvas"></canvas>
<script  src="static/canvas-plugin/js/101.js"></script>
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">HUCTF-Lab</a>
	</div>
	<div class="collapse navbar-collapse " id="example-navbar-collapse">
		<ul class="nav navbar-nav">
			 <li ><a href="/">首页</a></li>
			<li ><a href="/goto_introduction">简介</a></li>
			<li><a href="/goto_history">事件</a></li>
			<li class="active"><a href="/goto_member">成员</a></li>
            <!-- <li><a href="/goto_honor">荣誉</a></li>-->
            <li><a href="/goto_science">科研中心</a></li>
            <li><a href="/goto_newstudent">招新</a></li>
            <li><a href="/goto_blog">博客</a></li>
            <li><a href="/goto_cooperation">合作伙伴</a></li>
		</ul>
	</div>
	</div>
</nav>

<div class="member_main_div test-1">
    {% for type in member_dic %}
        <div class="member_top" id={{type+'_top' }}><div class="member_title">{{ type }}&nbsp<span class="glyphicon glyphicon-chevron-right"id={{ type+ '_icon'}}></span></div>
        </div>
        <div class=" member_detail test-1"style="display: none ;"  id={{type+'_detail' }} >

            <div class="img_div ">
               {% for each in member_dic[type] %}
                <div  id={{each}} class="member_img_div {{ type }}_member_img_div" >
                    <img  class="member_img " id={{ each+'_img' }} src={{ member_dic[type][each]['img_url'] }}>
                    <p>{{member_dic[type][each]['name'] }}</p>
                </div>
             {% endfor %}
            </div>

            <div class="member_text_div ">
               {% for each in member_dic[type]  %}
                <div  class="member_detail_text test-1" id={{ each+'_detail' }}>
                    <div style="height:120.5px;width: 80px;float: left">
                        <div style="margin-top: 110px;margin-left:5px ">
                            {%	if member_dic[type][each]['blog'] != ''	 %}
                            <button type="button" class="btn btn-primary btn-xs"><a style="color: white" href={{ member_dic[type][each]['blog'] }}>个人博客</a></button>
                            {%	else %}
                             <button type="button" class="btn btn-primary btn-xs"><a style="color: white" >暂无博客</a></button>
                            {% endif %}
                        </div>
                    </div>
                   <div style="white-space: pre-line;"> {{ member_dic[type][each]['detail_text'] }}</div>
                </div>
                {% endfor %}
            </div>


        </div>
  {% endfor %}


<div id="foot" style="display: none;height: 45px;background:rgba(0,0,0,0.4); opacity: 0.7;">
        <div style="margin-top: 5px;text-align: center">Sponsored by Huzhou University
                                                            </br>Powered by HUCTF
            </div>
    </div>
</div>
<p></p>
</body>
</html>