<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="湖州师范学院 HUCTF ，注册名湖州师范学院信息安全实验室，是由湖州师范学院的技术爱好者、技术宅组成的团体。现阶段向校内外提供竞赛平台等服务。">


<link type="application/atom+xml" rel="alternate" href="/feed.xml" title="湖州师范学院 HUCTF 实验室" />

<title>{% block title %}湖州师范学院 HUCTF 实验室{% endblock title %} - Home</title>

<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">

<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/font-awesome-v4-shims.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename='js/jquery-2.1.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<body>
{% block nav %}
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='picture/logo-small.png') }}" srcset="/assets/img/logo-small.png 1x, /assets/img/logo-small@2x.png 2x, /assets/img/logo-small@3x.png 3x, /assets/img/logo-small@4x.png 4x" /> 湖州师范学院 HUCTF 实验室</a>
    </div>
    <div class="navbar-collapse collapse navbar-right">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">HOME</a></li>
        <li ><a href="/events/">EVENTS</a></li>
        <li ><a href="/blog/">BLOG</a></li>
        <li><a href="#">RSS</a></li>
        <li><a href="#">MIRRORS</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock nav %}

<main class="container">
  {% for message in get_flashed_messages(with_categories=True) %}
      <div class="alert alert-{{ message[0] }}" role="alert">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          {{ message[1] }}
      </div>
  {% endfor %}
  {% block content %}{% endblock content %}
  </main>
<script type="text/javascript">
$(document).ready(function(){
  $('[data-toggle="tooltip"]').tooltip();

  var today = function() { 
    var pad = function (number) {
      var r = String(number);
      if ( r.length === 1 ) {
        r = '0' + r;
      }
      return r;
    }

    var _today = new Date();
    return Date.parse(
      _today.getFullYear().toString() + "-"
      + pad(_today.getMonth()+1) + "-"
      + pad(_today.getDate())
    );

  }();

  $('#recent-events .event').each(function() {
    // console.log($(this).attr("data-event-date"));
    var event_date = Date.parse($(this).attr("data-event-date")),
        label = "";
    if (today > event_date) {
      label = "<span class='label label-info'>Finished</span>";
    } else {
      label = "<span class='label label-warning'>Upcoming</span>";
    }
    $(this).find(".event-status").append(label);
  });
});
</script>

<style>
  .event-download-button {
    width: 10px
  }
</style>

<!--
vim: ts=2 sts=2 sw=2 expandtab
-->

{% block footer %}

        <div id="footerwrap">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p>湖州师范学院 HUCTF ，注册名湖州师范学院信息安全实验室，是由湖州师范学院的技术爱好者、技术宅组成的团体。现阶段向校内外提供竞赛平台等服务。</p>
            </div>

            <div class="col-sm-4">
              <h4>Contact Us</h4>
              <div>
                <ul class="social">
                  <li>
                  竞赛平台: <a href="http://ctf.hutc.xyz/">HUCTF</a>
                  </li>
                  <li>
                    <a href="https://github.com/HUCTF/"><i class="fa fa-github"></i> GitHub </a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-4">
              <!-- <img class="img-responsive" src="{{ url_for('static', filename='picture/logo-white.png') }}" srcset="/assets/img/logo-white.png 1x, /assets/img/logo-white@2x.png 2x, /assets/img/logo-white@3x.png 3x, /assets/img/logo-white@4x.png 4x"/> -->
              <p style="color: #384452"> The best team on the planet. </p>
            </div>
        </div><!--/row -->
    </div><!--/container -->
</div><!--/footerwrap -->

{% endblock footer %}

<script src="{{ url_for('static', filename='js/retina-1.1.0.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.hoverdir.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.hoverex.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.prettyphoto.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.isotope.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/custom.js') }}"></script>
<script>
// Portfolio
(function($) {
	"use strict";
	var $container = $('.portfolio'),
		$items = $container.find('.portfolio-item'),
		portfolioLayout = 'fitRows';
		
		if( $container.hasClass('portfolio-centered') ) {
			portfolioLayout = 'masonry';
		}
				
		$container.isotope({
			filter: '*',
			animationEngine: 'best-available',
			layoutMode: portfolioLayout,
			animationOptions: {
			duration: 750,
			easing: 'linear',
			queue: false
		},
		masonry: {
		}
		}, refreshWaypoints());
		
		function refreshWaypoints() {
			setTimeout(function() {
			}, 1000);   
		}
				
		$('nav.portfolio-filter ul a').on('click', function() {
				var selector = $(this).attr('data-filter');
				$container.isotope({ filter: selector }, refreshWaypoints());
				$('nav.portfolio-filter ul a').removeClass('active');
				$(this).addClass('active');
				return false;
		});
		
		function getColumnNumber() { 
			var winWidth = $(window).width(), 
			columnNumber = 1;
		
			if (winWidth > 1200) {
				columnNumber = 5;
			} else if (winWidth > 950) {
				columnNumber = 4;
			} else if (winWidth > 600) {
				columnNumber = 3;
			} else if (winWidth > 400) {
				columnNumber = 2;
			} else if (winWidth > 250) {
				columnNumber = 1;
			}
				return columnNumber;
			}       
			
			function setColumns() {
				var winWidth = $(window).width(), 
				columnNumber = getColumnNumber(), 
				itemWidth = Math.floor(winWidth / columnNumber);
				
				$container.find('.portfolio-item').each(function() { 
					$(this).css( { 
					width : itemWidth + 'px' 
				});
			});
		}
		
		function setPortfolio() { 
			setColumns();
			$container.isotope('reLayout');
		}
			
		$container.imagesLoaded(function () { 
			setPortfolio();
		});
		
		$(window).on('resize', function () { 
		setPortfolio();          
	});
})(jQuery);
</script>

    </body>
</html>