<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>湖州师范学院-网络科技安全实验室</title>
    <link rel="stylesheet" href="static/plugin/bootstrap.css">
    <link rel="stylesheet" href="static/css/style.css">

    <script src="static/plugin/jquery-3.3.1.min.js"></script>
    <script src="static/plugin/bootstrap.min.js"></script>

    <script src="static/js/common.js"></script>
    <script  src="static/plugin/jquery.zclip.js"></script>
    <script  src="static/plugin/delaunator.min.js"></script>

    <link rel="stylesheet" href="static/css/blog.css">
    <script src="static/js/blog.js"></script>
    <script src="static/plugin/showdown.min.js"></script>
    <!--背景-->

</head>
<body>
<canvas id="canvas"></canvas>
<script  src="static/canvas-plugin/js/101.js"></script>
<nav class="navbar navbar-inverse" role="navigation">
	<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse"
				data-target="#example-navbar-collapse">
			<span class="sr-only">切换导航</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="#">HUCTF-Lab</a>
	</div>
	<div class="collapse navbar-collapse " id="example-navbar-collapse">
		<ul class="nav navbar-nav">
			 <li ><a href="/">首页</a></li>
			<li ><a href="/goto_introduction">简介</a></li>
			<li ><a href="/goto_history">事件</a></li>
			<li><a href="/goto_member">成员</a></li>
           <!-- <li><a href="/goto_honor">荣誉</a></li>-->
            <li><a href="/goto_science">科研中心</a></li>
            <li><a href="/goto_newstudent">招新</a></li>
            <li><a href="/goto_blog" >博客</a></li>
            <li class="active"><a href="/goto_cooperation" class="active">合作</a></li>
		</ul>
	</div>
	</div>
</nav>
<div style="width: 50vw;margin: 0 auto;font-size: 20px">正在努力开发中,若有合作需求请联系陈老师：13735150670</div>
</body>
</html>