{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
        <h1>湖州师范学院信息安全实验室 - HUCTF</h1>

    <div>
        <h1>湖州师范学院信息安全实验室 - HUCTF</h1>
    </div>
    <div>
        <h1>湖州师范学院信息安全实验室 - HUCTF</h1>
    </div>
    <div>
        <h1>湖州师范学院信息安全实验室 - HUCTF</h1>
    </div>
    <div>
        <h1>湖州师范学院信息安全实验室 - HUCTF</h1>
    </div>
    <div>
        <h1>湖州师范学院信息安全实验室 - HUCTF</h1>
    </div>
    <div>
        <h1>湖州师范学院信息安全实验室 - HUCTF</h1>
    </div>
    <div>
        <h1>湖州师范学院信息安全实验室 - HUCTF</h1>
    </div>

    {% endblock %}
